NEXT_PUBLIC_API_URL=http://localhost:4000
NEXT_PUBLIC_TMDB_API_KEY=
AUTH_TRUST_HOST=true
AUTH_SECRET=change-me-to-a-long-random-secret
AUTH_OIDC_ID=frame24-admin
AUTH_OIDC_SECRET=frame24-admin-dev-secret
AUTH_OIDC_ISSUER=http://localhost:9080/application/o/frame24-admin/
NEXT_PUBLIC_AUTH_OIDC_ISSUER=http://localhost:9080/application/o/frame24-admin/
OIDC_INTERNAL_SECRET=frame24-oidc-internal-dev-secret
